footer {
    position: relative;
    width: 100%;
    background: #120425;
    min-height: 100px;
    padding: 20px 0;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, 
footer .menu
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon {
    gap: 1.5rem;
}

footer .social_icon li, 
footer .menu li
{
    list-style: none;
}

footer .social_icon li a
{
    font-size: 2rem;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
}

footer .social_icon li a:hover {
    transform: translateY(-10px);
}

footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: .5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin: 0 0 10px 40px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 1200 200' xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none'%3E%3Cpath d='M0,100 C300,200 900,0 1200,100 L1200,200 L0,200 Z' fill='%23120425'/%3E%3C/svg%3E");
    background-size: 1000px 100px;
}

footer .wave#wave1 {
    z-index: 4;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2 {
    z-index: 3;
    opacity: .5;
    bottom: 10px;
    animation: animateWave2 4s linear infinite;
}

footer .wave#wave3 {
    z-index: 2;
    opacity: .2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4 {
    z-index: 1;
    opacity: .7;
    bottom: 20px;
    animation: animateWave2 2s linear infinite;
}

@keyframes animateWave {
    from {
        background-position-x: 1000px;
    }
    to {
        background-position-x: 0;
    }
}

@keyframes animateWave2 {
    from {
        background-position-x: 0;
    }
    to {
        background-position-x: 1000px;
    }
}

@media (max-width: 900px) {

    footer .social_icon, 
    footer .menu
    {
        padding: 0;
    }

    footer .github-icon,
    footer .X,
    footer .stackOverflow-icon {
        width: 40px;
        height: auto;
    }


    footer p {
        margin-top: 15px;
        margin: 0 0 10px 0;
        font-size: 1em;
    }
}