@font-face {
    font-family: 'Overcame';
    src: url('/src/assets/fonts/OvercameDemoBold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Retro';
    src: url('/src/assets/fonts/Retro\ Floral.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

@keyframes fadeOut {
    to {
        transform: scale(2);
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1% 5% 0 5%;
    box-sizing: border-box;
    position: relative;
    z-index: 2;

    animation: fadeOut linear both;
    animation-timeline: scroll(root) !important;
}

.nav-left {
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    gap: 20px;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav-center {
    flex-grow: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center;
}

.nav-link {
    background-color: transparent;
    border: 0;
    color: inherit;
    cursor: pointer;
    font-family: 'Retro', Arial, Helvetica, sans-serif;
    font-size: 18px;
    transition: color 0.3s;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    position: relative;
}

.nav-link::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
}

.logo {
    cursor: default;
    color: inherit;
    font-family: 'Overcame', Arial, Helvetica, sans-serif;
    font-size: 65px;
    align-items: center;
    transition: color 0.1s ease-in;  
    position: relative;
    top: -25px;
    right: -10px;
}

.logo:hover {
    color: rgb(201, 4, 4);
}

.social-icon {
    width: 50px; 
    height: auto;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

.social-icon:hover {
    transform: scale(1.2);
}

.menu-toggle {
    display: block;
    background: none;
    border: none;
    color: inherit;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    margin-bottom: 6px;
    position: relative;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px; 
    left: 40px;
    width: 100%;
    max-width: 100px;
    text-align: left;
    z-index: 1;
}

/* Responsive */
@media (max-width: 900px) {
    .navbar {
        padding: 3% 5%;
    }

    .nav-link {
        font-size: 16px;
        margin: 10px 0;
        width: fit-content;
    }

    .nav-right {
        gap: 15px;
    }

    .social-icon {
        margin-top: 5px;
        width: 35px;
        height: auto;
    }

    .logo {
        display: none;
    }
}

