:root {
    --amount-technologies: 15;
    --transition-slider-duration: 30s;
}

.wrapper {
    background-color: rgba(0, 0, 0, .2);
    border-top: 1px solid #7c05d8;
    border-bottom: 1px solid #7c05d8;
    padding-top: 1rem;
    width: 90%;
    height: 100px;
    max-width: 1536px;
    margin-inline: auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 20%,
        rgba(0, 0, 0, 1) 80%,
        rgba(0, 0, 0, 0)
    );
}


.technology-slider {
    width: 5rem;
    height: 5rem;
    color: white;
}

.item {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    position: absolute;
    align-items: center;
    left: max(calc(-100px * 15), 100%);
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.item:has(img[alt="Express.js-icon"]),
.item:has(img[alt="jQuery-icon"]) {
    .technology-slider {
        filter: invert(1);
    }
}

.item1 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 1) * -1);
}
.item2 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 2) * -1);
}
.item3 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 3) * -1);
}
.item4 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 4) * -1);
}
.item5 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 5) * -1);
}
.item6 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 6) * -1);
}
.item7 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 7) * -1);
}
.item8 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 8) * -1);
}
.item9 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 9) * -1);
}
.item10 {
  animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 10) * -1);
}
.item11 {
  animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 11) * -1);
}
.item12 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 12) * -1);
}
.item13 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 13) * -1);
}
.item14 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 14) * -1);
}
.item15 {
    animation-delay: calc(var(--transition-slider-duration) / var(--amount-technologies) * (var(--amount-technologies) - 15) * -1);
}

@keyframes scrollLeft {
  to {
    left: -50px;
  }
}

@media (max-width: 1024px) {
    .wrapper {
        margin-top: 3rem;
        height: 2.5rem;
    }

    .technology-slider {
        width: 2.5rem;
        height: 2.5rem;
    }
}
